In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/kevinliu8/Documents/Ciencias-dos-Dados/Projeto 1 /Projeto1

In [7]:
#Se usar o arquivo descompactado
dados = pd.read_csv('DOM2013.csv',sep=',')
dados.head()
#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V2123,V2124,V2126,V2128,V2130,V2132,V2134,V2138,V2139,V9992
0,0,2013,11,15,1,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150428
1,1,2013,11,15,2,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150428
2,2,2013,11,15,3,1,1.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150428
3,3,2013,11,15,4,1,2.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150428
4,4,2013,11,15,5,1,3.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150428

In [27]:
dadosSc = dados[dados.UF==42].loc[:,["V0101","UF"]] # SANTA Catarina
dadosSc#.tocsv("resumo.csv")

        V0101  UF
116049   2013  42
116050   2013  42
116051   2013  42
116052   2013  42
116053   2013  42
116054   2013  42
116055   2013  42
116056   2013  42
116057   2013  42
116058   2013  42
116059   2013  42
116060   2013  42
116061   2013  42
116062   2013  42
116063   2013  42
116064   2013  42
116065   2013  42
116066   2013  42
116067   2013  42
116068   2013  42
116069   2013  42
116070   2013  42
116071   2013  42
116072   2013  42
116073   2013  42
116074   2013  42
116075   2013  42
116076   2013  42
116077   2013  42
116078   2013  42
...       ...  ..
120425   2013  42
120426   2013  42
120427   2013  42
120428   2013  42
120429   2013  42
120430   2013  42
120431   2013  42
120432   2013  42
120433   2013  42
120434   2013  42
120435   2013  42
120436   2013  42
120437   2013  42
120438   2013  42
120439   2013  42
120440   2013  42
120441   2013  42
120442   2013  42
120443   2013  42
120444   2013  42
120445   2013  42
120446   2013  42
120447   2013  42
120448   2013  42
120449   2013  42
120450   2013  42
120451   2013  42
120452   2013  42
120453   2013  42
120454   2013  42

[4406 rows x 2 columns]